<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= title %> | Your's Bank</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
    
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" />
  </head>

<body>
  <nav class="navbar bg-dark">
    <div class="container-fluid">
      <a id="logo" href="/" class="navbar-brand"><i class="fas fa-university"></i> Your's Bank</a>
      <div style="color: white; font-size: 18px;"> Hello, <%= person.firstname %> <%= person.lastname %> &nbsp; &nbsp; <span
        style="background-color: white; color: black; padding: 5px 5px; border-radius: 14px;">Balance: <%= person.balance %></span>
    </div>
  </div>
    </div>
  </nav>


  <div class="container">
    <div class="ban-heading">
      <h1 style="font-weight: 700;"><%= person.firstname %>'s Details</h1>
      <hr>
      <p style="font-size: 18px; font-weight: 400; margin: 21px 0px;">Email: <%= person.email %></p>
      <p style="font-size: 18px; font-weight: 400; margin: 21px 0px;">Mobile no: <%= person.mobile %></p>
      <p style="font-size: 18px; font-weight: 400; margin: 21px 0px;">Accout no: <%= person.accountno %></p>
      <p style="font-size: 18px; font-weight: 400; margin: 21px 0px;">Balance: <%= person.balance %></p>
    </div>
    
   


    <div class="ban-heading" style="float: right; overflow-y: auto;">
      <h1 style="font-weight: 700;"><%= person.firstname %>'s Transactions</h1>
      <hr>

       <% if(transaction.length==0) {%>
       <p>Sorry No Transaction Found</p>
        <% } else { %> 
       <% for(var i=0;i<transaction.length;i++) { %>
         <% if(transaction[i].sender.accountno==person.accountno) { %>
          <p>Sent &nbsp;<span class="send"><%= transaction[i].amount %></span>&nbsp; to <%= transaction[i].receiver.firstname %> <%= transaction[i].receiver.lastname %></p>
         <% } else { %>
          <p>Received &nbsp;<span class="receive" ><%= transaction[i].amount %></span>&nbsp; from <%= transaction[i].sender.firstname %> <%= transaction[i].sender.lastname %></p>
          <% } %>
      
     <% } %>
       <% } %>

    </div>
    



  </div>
   <br>
   <br>
  <div style="text-align: center;"> <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#transaction">Send Money</button></div>

  <footer>
    <div id="footer">Spark Foundation Internship Project &copy; 2021, Nitya Dutta &nbsp; <a href="https://www.linkedin.com/in/nitya-dutta-2036011b7"><i class="fab fa-linkedin" ></i></a></div>
  </footer>

  <!-- Modal -->
  <div class="modal fade" id="transaction" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pay Money</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/transfer" method="POST">
            <label for="sender">Sender Name: </label>
            <br>

            <select name="sender" id="sender" class="form-select" aria-label="Default select example">
              <option selected value="<%= person.accountno %>"><%= person.firstname %> <%= person.lastname %></option>
            </select>

            <br>
            <label for="receiver">Receiver Name: </label>
            <br>
            <select name="receiver" id="receiver" class="form-select" aria-label="Default select example">
              <option selected>Select Receiver Name</option>
              <% for(var i=0;i<customer.length;i++) {%>
                <% if(customer[i].accountno!=person.accountno) { %>
                  <option value="<%=customer[i].accountno %>">
                    <%= customer[i].firstname %>
                      <%= customer[i].lastname %>
                  </option>
                <% } %>
                <% } %>
            </select>

            <br>
            <label for="amount">Amount: </label>
            <input type="number" style="padding: 3px 0px; padding-left: 10px;"id="amount" name="amount" min="100" placeholder="Enter Amount">

            <hr>
            <button type="submit" class="btn btn-primary" style="float: right">Send</button>
          </form>
        </div>

      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
<script>
  var success= '<%= flash.success %>'
  var error= '<%= flash.error %>'


  if(success.length>0){
    new Noty({
             theme: 'relax',
             text: "<%= flash.success %>",
             type: 'success',
             layout: 'topRight',
             timeout: 1500
            }).show();
  }
  if(error.length>0){
    new Noty({
             theme: 'relax',
             text: "<%= flash.error %>",
             type: 'error',
             layout: 'topRight',
             timeout: 1500
            }).show();
  }

  
</script>
</body>
</html>






